/*
PostHog API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package posthogapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PropertyDefinitionsAPIService PropertyDefinitionsAPI service
type PropertyDefinitionsAPIService service

type ApiPropertyDefinitionsDestroyRequest struct {
	ctx context.Context
	ApiService *PropertyDefinitionsAPIService
	id string
	projectId string
}

func (r ApiPropertyDefinitionsDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.PropertyDefinitionsDestroyExecute(r)
}

/*
PropertyDefinitionsDestroy Method for PropertyDefinitionsDestroy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this property definition.
 @param projectId Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/.
 @return ApiPropertyDefinitionsDestroyRequest
*/
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsDestroy(ctx context.Context, id string, projectId string) ApiPropertyDefinitionsDestroyRequest {
	return ApiPropertyDefinitionsDestroyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		projectId: projectId,
	}
}

// Execute executes the request
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsDestroyExecute(r ApiPropertyDefinitionsDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PropertyDefinitionsAPIService.PropertyDefinitionsDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{project_id}/property_definitions/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPropertyDefinitionsListRequest struct {
	ctx context.Context
	ApiService *PropertyDefinitionsAPIService
	projectId string
	eventNames *string
	excludeCoreProperties *bool
	excludeHidden *bool
	excludedProperties *string
	filterByEventNames *bool
	groupTypeIndex *int32
	isFeatureFlag *bool
	isNumerical *bool
	limit *int32
	offset *int32
	properties *string
	search *string
	type_ *string
}

// If sent, response value will have &#x60;is_seen_on_filtered_events&#x60; populated. JSON-encoded
func (r ApiPropertyDefinitionsListRequest) EventNames(eventNames string) ApiPropertyDefinitionsListRequest {
	r.eventNames = &eventNames
	return r
}

// Whether to exclude core properties
func (r ApiPropertyDefinitionsListRequest) ExcludeCoreProperties(excludeCoreProperties bool) ApiPropertyDefinitionsListRequest {
	r.excludeCoreProperties = &excludeCoreProperties
	return r
}

// Whether to exclude properties marked as hidden
func (r ApiPropertyDefinitionsListRequest) ExcludeHidden(excludeHidden bool) ApiPropertyDefinitionsListRequest {
	r.excludeHidden = &excludeHidden
	return r
}

// JSON-encoded list of excluded properties
func (r ApiPropertyDefinitionsListRequest) ExcludedProperties(excludedProperties string) ApiPropertyDefinitionsListRequest {
	r.excludedProperties = &excludedProperties
	return r
}

// Whether to return only properties for events in &#x60;event_names&#x60;
func (r ApiPropertyDefinitionsListRequest) FilterByEventNames(filterByEventNames bool) ApiPropertyDefinitionsListRequest {
	r.filterByEventNames = &filterByEventNames
	return r
}

// What group type is the property for. Only should be set if &#x60;type&#x3D;group&#x60;
func (r ApiPropertyDefinitionsListRequest) GroupTypeIndex(groupTypeIndex int32) ApiPropertyDefinitionsListRequest {
	r.groupTypeIndex = &groupTypeIndex
	return r
}

// Whether to return only (or excluding) feature flag properties
func (r ApiPropertyDefinitionsListRequest) IsFeatureFlag(isFeatureFlag bool) ApiPropertyDefinitionsListRequest {
	r.isFeatureFlag = &isFeatureFlag
	return r
}

// Whether to return only (or excluding) numerical property definitions
func (r ApiPropertyDefinitionsListRequest) IsNumerical(isNumerical bool) ApiPropertyDefinitionsListRequest {
	r.isNumerical = &isNumerical
	return r
}

// Number of results to return per page.
func (r ApiPropertyDefinitionsListRequest) Limit(limit int32) ApiPropertyDefinitionsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiPropertyDefinitionsListRequest) Offset(offset int32) ApiPropertyDefinitionsListRequest {
	r.offset = &offset
	return r
}

// Comma-separated list of properties to filter
func (r ApiPropertyDefinitionsListRequest) Properties(properties string) ApiPropertyDefinitionsListRequest {
	r.properties = &properties
	return r
}

// Searches properties by name
func (r ApiPropertyDefinitionsListRequest) Search(search string) ApiPropertyDefinitionsListRequest {
	r.search = &search
	return r
}

// What property definitions to return  * &#x60;event&#x60; - event * &#x60;person&#x60; - person * &#x60;group&#x60; - group * &#x60;session&#x60; - session
func (r ApiPropertyDefinitionsListRequest) Type_(type_ string) ApiPropertyDefinitionsListRequest {
	r.type_ = &type_
	return r
}

func (r ApiPropertyDefinitionsListRequest) Execute() (*PaginatedPropertyDefinitionList, *http.Response, error) {
	return r.ApiService.PropertyDefinitionsListExecute(r)
}

/*
PropertyDefinitionsList Method for PropertyDefinitionsList

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/.
 @return ApiPropertyDefinitionsListRequest
*/
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsList(ctx context.Context, projectId string) ApiPropertyDefinitionsListRequest {
	return ApiPropertyDefinitionsListRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return PaginatedPropertyDefinitionList
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsListExecute(r ApiPropertyDefinitionsListRequest) (*PaginatedPropertyDefinitionList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedPropertyDefinitionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PropertyDefinitionsAPIService.PropertyDefinitionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{project_id}/property_definitions/"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.eventNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_names", r.eventNames, "form", "")
	}
	if r.excludeCoreProperties != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_core_properties", r.excludeCoreProperties, "form", "")
	} else {
        var defaultValue bool = false
        parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_core_properties", defaultValue, "form", "")
        r.excludeCoreProperties = &defaultValue
	}
	if r.excludeHidden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_hidden", r.excludeHidden, "form", "")
	} else {
        var defaultValue bool = false
        parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_hidden", defaultValue, "form", "")
        r.excludeHidden = &defaultValue
	}
	if r.excludedProperties != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excluded_properties", r.excludedProperties, "form", "")
	}
	if r.filterByEventNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter_by_event_names", r.filterByEventNames, "form", "")
	}
	if r.groupTypeIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_type_index", r.groupTypeIndex, "form", "")
	}
	if r.isFeatureFlag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_feature_flag", r.isFeatureFlag, "form", "")
	}
	if r.isNumerical != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_numerical", r.isNumerical, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.properties != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "properties", r.properties, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
        var defaultValue string = "event"
        parameterAddToHeaderOrQuery(localVarQueryParams, "type", defaultValue, "form", "")
        r.type_ = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPropertyDefinitionsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *PropertyDefinitionsAPIService
	id string
	projectId string
	patchedPropertyDefinition *PatchedPropertyDefinition
}

func (r ApiPropertyDefinitionsPartialUpdateRequest) PatchedPropertyDefinition(patchedPropertyDefinition PatchedPropertyDefinition) ApiPropertyDefinitionsPartialUpdateRequest {
	r.patchedPropertyDefinition = &patchedPropertyDefinition
	return r
}

func (r ApiPropertyDefinitionsPartialUpdateRequest) Execute() (*PropertyDefinition, *http.Response, error) {
	return r.ApiService.PropertyDefinitionsPartialUpdateExecute(r)
}

/*
PropertyDefinitionsPartialUpdate Method for PropertyDefinitionsPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this property definition.
 @param projectId Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/.
 @return ApiPropertyDefinitionsPartialUpdateRequest
*/
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsPartialUpdate(ctx context.Context, id string, projectId string) ApiPropertyDefinitionsPartialUpdateRequest {
	return ApiPropertyDefinitionsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return PropertyDefinition
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsPartialUpdateExecute(r ApiPropertyDefinitionsPartialUpdateRequest) (*PropertyDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PropertyDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PropertyDefinitionsAPIService.PropertyDefinitionsPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{project_id}/property_definitions/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedPropertyDefinition
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPropertyDefinitionsRetrieveRequest struct {
	ctx context.Context
	ApiService *PropertyDefinitionsAPIService
	id string
	projectId string
}

func (r ApiPropertyDefinitionsRetrieveRequest) Execute() (*PropertyDefinition, *http.Response, error) {
	return r.ApiService.PropertyDefinitionsRetrieveExecute(r)
}

/*
PropertyDefinitionsRetrieve Method for PropertyDefinitionsRetrieve

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this property definition.
 @param projectId Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/.
 @return ApiPropertyDefinitionsRetrieveRequest
*/
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsRetrieve(ctx context.Context, id string, projectId string) ApiPropertyDefinitionsRetrieveRequest {
	return ApiPropertyDefinitionsRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return PropertyDefinition
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsRetrieveExecute(r ApiPropertyDefinitionsRetrieveRequest) (*PropertyDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PropertyDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PropertyDefinitionsAPIService.PropertyDefinitionsRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{project_id}/property_definitions/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPropertyDefinitionsSeenTogetherRetrieveRequest struct {
	ctx context.Context
	ApiService *PropertyDefinitionsAPIService
	projectId string
}

func (r ApiPropertyDefinitionsSeenTogetherRetrieveRequest) Execute() (*http.Response, error) {
	return r.ApiService.PropertyDefinitionsSeenTogetherRetrieveExecute(r)
}

/*
PropertyDefinitionsSeenTogetherRetrieve Method for PropertyDefinitionsSeenTogetherRetrieve

Allows a caller to provide a list of event names and a single property name
Returns a map of the event names to a boolean representing whether that property has ever been seen with that event_name

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param projectId Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/.
 @return ApiPropertyDefinitionsSeenTogetherRetrieveRequest
*/
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsSeenTogetherRetrieve(ctx context.Context, projectId string) ApiPropertyDefinitionsSeenTogetherRetrieveRequest {
	return ApiPropertyDefinitionsSeenTogetherRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		projectId: projectId,
	}
}

// Execute executes the request
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsSeenTogetherRetrieveExecute(r ApiPropertyDefinitionsSeenTogetherRetrieveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PropertyDefinitionsAPIService.PropertyDefinitionsSeenTogetherRetrieve")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{project_id}/property_definitions/seen_together/"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPropertyDefinitionsUpdateRequest struct {
	ctx context.Context
	ApiService *PropertyDefinitionsAPIService
	id string
	projectId string
	propertyDefinition *PropertyDefinition
}

func (r ApiPropertyDefinitionsUpdateRequest) PropertyDefinition(propertyDefinition PropertyDefinition) ApiPropertyDefinitionsUpdateRequest {
	r.propertyDefinition = &propertyDefinition
	return r
}

func (r ApiPropertyDefinitionsUpdateRequest) Execute() (*PropertyDefinition, *http.Response, error) {
	return r.ApiService.PropertyDefinitionsUpdateExecute(r)
}

/*
PropertyDefinitionsUpdate Method for PropertyDefinitionsUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this property definition.
 @param projectId Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/.
 @return ApiPropertyDefinitionsUpdateRequest
*/
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsUpdate(ctx context.Context, id string, projectId string) ApiPropertyDefinitionsUpdateRequest {
	return ApiPropertyDefinitionsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return PropertyDefinition
func (a *PropertyDefinitionsAPIService) PropertyDefinitionsUpdateExecute(r ApiPropertyDefinitionsUpdateRequest) (*PropertyDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PropertyDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PropertyDefinitionsAPIService.PropertyDefinitionsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/projects/{project_id}/property_definitions/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.propertyDefinition == nil {
		return localVarReturnValue, nil, reportError("propertyDefinition is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.propertyDefinition
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
